html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font: bold 7em "Nunito", serif;
  color: #ffc107;
}

.z-text {
  /* Tip: Apply CSS transforms here */
  /* rotateX() == up/down */
  /* rotateY() == left/right */
  /*transform: rotateX(15deg) rotateY(-30deg); */
}

.z-layer:not(:first-child) {
  color: #bf9105;
}
